- name: Build and Deploy
  uses: Azure/static-web-apps-deploy@v1
  with:
    azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
    repo_token: ${{ secrets.GITHUB_TOKEN }}
    action: "upload"

    app_location: "/"          # index.html がある場所
    output_location: "/"       # ビルド成果物なし
    skip_app_build: true       # ★これが最重要
